/*BODY COLOR*/
body{
  background-color: #B1B1B1;
}

.fontRoboto{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
}
.contentContainer{
  padding-top:100px;
  padding-left: 140px;
  padding-right: 60px;
  padding-bottom: 0px;
}
.btn:hover{
  cursor: pointer;
}
/* 
  Page Contents 
*/

.preserveLineBreaks{
  white-space: pre-wrap;
}

.modal-dialog-centered{
  top: 35%;
  margin: 0 auto;
}
.modalViewProfile{
  width: 20%;
}
.cardButton{
  background-color:#207F8A;

  text-decoration: none;
  box-shadow: 0px 0px 100px !important;

  border-top-right-radius:50px; 
  border-bottom-right-radius:50px;
  border-top-left-radius:50px; 
  border-bottom-left-radius:50px;

}

/* 
  MEDIA QUERIES 
*/
@media (max-width: 767.98px) { 
  .signOutBtn:hover {
    animation:none;
  }
  .contentContainer {
    padding-top:80px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .modalViewProfile{
  width: 95%;
  }

}

