
body{
  background-color: #B1B1B1
}

.contentContainer{
    padding-top:100px;

}
.fontRoboto{
    font-family: 'Roboto', sans-serif;
}
/*

/* ------------------------- Page Contents --------------------------*/






/* MEDIA QUERIES */
@media only screen and (max-width: 767.98px) { 
    .contentContainer{
        padding-top:80px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}