/*div bg COLOR*/
.bgDivs{
  background-color: #D8D9DE;
}



.fontRoboto{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

.logoPic{
  width:180px;
}
.bellShake:hover{
    animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
    backface-visibility: hidden;
}
@keyframes bellshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}
/*Page Content*/
.FirstContainer{
	background-image: url("/img/homepage_images/Pic6.jpg");
	background-size: cover; 
  background-position: center;
  filter: blur(3px);
	height:100vh; 
	opacity: 1;
	border:0px solid red;
	z-index: -1;
  position: sticky;
  top:0;
}
.SecondContainer{
  background-color: rgba(0,0,0,0.85);
  background-size: cover;
  position: absolute;
  top:0;
  height: 100vh;
  z-index: 1;
}
.form-control{
  box-shadow: inset 0px 0px 5px 0px #4E9DA6;
  padding: 12px;
}

.featureIcons{
  font-size: 70px;
}
.featMutedTxt{
  color:#665F5F;
}

@media (max-width: 767.98px) {
	.logoPic{
  width:150px;
}
	
}






















