/*BODY COLOR*/
body{
  background-color: #EFEFEF
}

.btn:hover{
  cursor: pointer;
}


.contentContainer{
  padding-top:100px;
  padding-left: 140px;
  padding-right: 60px;
  padding-bottom: 0px;
}
/* 
Page Contents 
*/

.chsStatBtn{
  background-color:#4E9DA6;
  cursor: pointer;

  border:1.5px solid white;
  border-top-right-radius:50px; 
  border-bottom-right-radius:50px;
  border-top-left-radius:50px; 
  border-bottom-left-radius:50px;
}

.bg-light{
  background-color: white !important;
}
/* 
MEDIA QUERIES 
*/
@media only screen and (max-width: 767.98px) { 
  .contentContainer {
    padding-top:80px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

}