
/*BODY COLOR*/
body{
  background-color: #EFEFEF
}

/* 
  Page Contents 
*/
.contentContainer{
  padding-top:100px;
  padding-left: 140px;
  padding-right: 60px;
  padding-bottom: 0px;
}

.postBox{
  box-shadow:0 0 5px;
} 
.postByImg{
  box-shadow:0 0 5px;
}

.addJobBtn, .addJobBtn:focus{
  background: url("/img/div_bgs/divbg.jpg");
  background-size: cover; 
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;

  border:1.5px solid gray;
  border-top-right-radius:50px; 
  border-bottom-right-radius:50px;
  border-top-left-radius:50px; 
  border-bottom-left-radius:50px;
}

.preserveLineBreaks{
  white-space: pre-wrap;
}

.annBtn:hover{
  cursor: pointer;
}
.jobBtn:hover{
  cursor: pointer;
}
.jobHolder, #jobI{
  display: none;
}

.titleColor{
  color: #033A52;
}

.greenLayer{
  background: linear-gradient(#059C4C, #24C26E);
}
.blueLayer{
  background-image: linear-gradient(#0A5492,#1C72BB)
}
/* 
  MEDIA QUERIES 
*/
@media (max-width: 767.98px) { 
  .signOutBtn:hover {
    animation:none;
  }
  .contentContainer {
    padding-top:80px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .divInfoBg {
    background:url("/img/div_bgs/divbg.jpg");
    background-size: cover;
  }

  .d-sm-block{
    display:block;
  }
}

