
/*
  Top Navigation Bar
*/
.navbar{
    background: linear-gradient(#6D6D71, #161619);
    z-index: 999.1;
    box-shadow: 0 0 3px 0;
}
.ownerLink, .ownerLink:focus{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.signOutBtn:hover{
  animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
  backface-visibility: hidden;
}
@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}
/*
  Side Navigation Bar
*/
.sideDiv{
  background:#39393F;
  position:fixed;
  width:210px;
  left:-140px;
  top:0;
  direction: right;
  transition: 0.4s ease-in-out; 
  transition-delay: 0.2s;
  z-index:999;
}
.sideDiv:hover{
  left:0px;
}
.sideDiv:not(:hover) .sideNavLink{
  visibility: hidden;
  transition: 0.5s ease-in-out; 
}
#hyperlink{
  text-decoration:none;
  color: white;
}
#classCollapse{
  text-decoration:none;
}
.hyperlink:hover{
  background-color: rgb(193,198,193,0.125);
}
.rowSide{
  height:50px;
}
.navbar-toggler:focus{
  outline: none;
}


@media (max-width: 349.98px) { 

.logo{
  width:200px;
}
}
