/*
  Top Navigation Bar
*/
.navbar{
    background: linear-gradient(-90deg, #5A8E6B, #5A8E6B, #356A46);
    z-index: 999.1;
    box-shadow: 0 0 3px 0;
}
.signOutBtn:hover{
  animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
  backface-visibility: hidden;
}
@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}
/*
  Side Navigation Bar
*/
.sideDiv{
  background:#5A8E6B;
  position:fixed;
  width:210px;
  height:100%;
  left:-140px;
  top:0;
  direction: right;
  transition: 0.4s ease-in-out; 
  transition-delay: 0.2s;
  z-index:999;
}
.sideDiv:hover{
  left:0px;
}
#hyperlink{
  text-decoration:none;
  color: white;
}
#classCollapse{
  text-decoration:none;
}
.hyperlink:hover{
  background-color: rgb(193,198,193,0.125);
}
.rowSide{
  height:50px;
}
.navbar-toggler:focus{
  outline: none;
}
/* 
  Page Contents 
*/
.contentContainer{
  padding-top:100px;
  padding-left: 140px;
  padding-right: 60px;
  padding-bottom: 0px;
}
.fontRoboto{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
}
.divInfoBg{
  background:url("/img/div_bgs/sbg.jpg");
}  
/* 
  MEDIA QUERIES 
*/
@media only screen and (max-width: 767.98px) { 
  .signOutBtn:hover {
    animation:none;
  }
  .contentContainer {
    padding-top:80px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .divInfoBg {
    background:url("/img/div_bgs/sbg.jpg");
    background-size: cover;
  }
  .alMapDiv{
  }
}